.App{
  padding: 2%; 
  display: flex;
  flex-wrap: wrap;
  
}
.header{
  width: 100%;
  height: 150px;
  border: 2px solid black;
  background-color: #6aa84f;
  margin-bottom: 2%;
}

.nav{
  
  
  width: 27%;
  height: 500px;
  margin-right: 2%;
  border: 2px solid black;
  background-color: #6fa8dc;

}

.main{
  flex: 1;
  padding: 2%;
  height: 700px;
  border: 2px solid black;
  background-color: #e06666;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;


}

.subCont{
  flex: 1;
  height: 70%;
  border: 2px solid black;
  background-color: #ffd966;
}

.advert{
  width: 100%;
  height: 20%;
  border: 2px solid black;
  background-color: #b4a7d6;
}
